@media (max-width: 1210px) {
	.banner-text h2 {
		font-size: 43px;
	}
	.products-list {
		width: 100%;
		margin: auto;
	}
	.product-block div {
		margin-bottom: 20px;
	}
	.overview div:nth-child(2) {
	    padding-right: 15px;
	}
	/*.swiper-button-prev, .swiper-button-next {
		display: block;
		z-index: 3;
	}*/
	.products .overview .product-item {
	    padding-left: 15px;
	    padding-right: 80px;
	}
	.products .overview .product-item:nth-child(2) {
	    padding-left: 40px;
	}
	.products .overview .product-item div:nth-child(2) {
	    padding-right: 10px;
	    padding-left: 10px;
	}
	.table>thead>tr>th {
	    font-size: 14px;
	}
	.table-scroll.notes {
	    width: calc(100% - 139px);
	}
	.table-fixed-left.notes {
		width: 140px;
	}
	footer {
		top: 246px;
	}
	.table>thead>tr>th {
		height: 39px;
	}
	.table-fixed-right .table>thead>tr>th {
	    font-size: 11px;
	}
}
@media (min-width: 767px) {
	.modal-dialog {
	    width: 400px;
	    margin: 130px auto;
	}

	.modal-footer > div:nth-child(1) {
		margin: 0 15px 15px;
	}
	.modal-footer > div:nth-child(2) {
		margin: 0 10px 15px;
	}
	.modal .btn-red {
		margin-left: -5px;
	}
}
@media (min-width: 767px) and (max-width: 1200px) {
	.container {
	    width: 100%;
	}
	.navbar-header {
		width: 30%;
	}
	ul.navbar-right {
		margin-top: 10px;
	}
	.navbar-inverse .navbar-nav>li>a {
		font-size: 18px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.icon {
	    width: 22px;
	    height: 22px;
	    background-size: 100%;
	    background-repeat: no-repeat;
	}
}
@media (max-width: 992px) {
	ul.navbar-right {
	    margin-top: 7px;
	}
	.nav-tabs.nav-justified>li>a {
	    border-bottom: 2px solid rgb(243, 245, 245); 
	}
	.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
	    border-bottom: 5px solid rgb(235, 28, 36); 
	}
	.slider {
		display: none;
	}
	.products .overview .product-item {
		max-width: 100%;
		padding-right: 40px;
	}
	.single-product .short-descr div:first-child {
	    max-width: 100%;
	}
	.single-product .short-descr div:last-child {
		margin-top: 30px;
    	margin-right: 0;
	}
	.single-product .short-descr div:last-child .read-more {
	    margin-top: 10px;
	}
	.products .short-descr div:last-child {
	    margin-right: 0px;
	}
	.staked-tabs-part .tab-content {
		border: none;
		padding-left: 0;
    	padding-right: 0;
	}
	.staked-tabs-part .tab-pane {
	    border: 1px solid rgb(187, 187, 187);
    	border-top: none;
    	padding-left: 15px;
    	padding-right: 15px;
    	display: block;
	}
	.ref-title {
		text-align: left;
	}
	.collapse {
	    display: none !important;
	}
	.home .overview .swiper-container {
	    min-height: 300px;
	    max-height: 350px;
	}
	.home .overview .swiper-slide div:nth-child(2) {
	    text-overflow: ellipsis;
	    overflow: scroll;
	    max-height: 250px;
	}
	.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 4px;
}
	.table-scroll {
	    -ms-overflow-style: scrollbar;
	    width: calc(100% - 139px);
	}
	.table-fixed-right {
		width: 140px;
	    overflow-x: hidden;
	}
	.table-scroll .table>thead>tr>th {
		text-align: left;
		line-height: 28px;
	}
	.notes .feature-name,
	.notes .table>thead>tr>th {
	    padding-left: 8px;
	}
	.notes .table>thead>tr>th {
		line-height: 28px;
	}
	.table-fixed-right .table>thead>tr>th {
	    white-space: pre-wrap;
	    font-size: 10px;
	    padding: 4px;
	}

}
@media (min-width: 768px) and (max-width: 970px) {
	.nav-tabs.nav-justified>li {
	    display: table-cell;
	    float: none;
	    width: 1%; 
	}
	/*.table-scroll {
		width: 72.6%;
	}*/
	/*.table>thead>tr>th {
		height: 38px;
	}
	.table-fixed-right .table>thead>tr>th {
	    font-size: 11px;
	}*/
	/*.table>thead>tr>th {
	    height: 49px;
	    line-height: 28px;
	}*/

}
@media (max-width: 767px) {
	.collapsing {
	    -webkit-transition: all .4s ease-in-out;
	    -o-transition: all .4s ease-in-out;
	    transition: all .4s ease-in-out;
	}
	header {
		background-size: cover;
		/*min-height: 61px;*/
		min-height: 81px;
    	height: 200px;
    	max-height: 200px;
    	width: 100%;
    	/*top: 0;*/
    	z-index: 4;
    	border-bottom: 1px solid black;
	}
	.page-content {
		position: relative;
		/*top: 200px;*/
		top: 260px;
	}
	.navbar-collapse {
	    padding-right: 20px;
	    padding-left: 20px;
	}
	.navbar-header {
		width: auto;
		margin-top: 10px;
	}
	.navbar>.container .navbar-brand {
		width: 80%;
		max-width: 255px;
	}
	.navbar-inverse .navbar-nav>li>a .icon-label {
	    display: inline-block;
	}
	.navbar-inverse .navbar-nav>li>a .icon {
		margin-right: 10px;
	}
	nav.navbar.opened-menu {
	    /*height: 100%;*/
	    width: 100%;
	}
	.navbar-collapse {
		background: #333;
		z-index: 5;
	}
	.navbar-collapse.in {
		position: fixed;
		width: 100%;
		height: 100%;
		/*z-index: 4;*/
	}
	
	.header-nav ul.navbar-right {
		height: 75%;
		overflow: auto;
		padding-top: 90px;
	}
	.navbar-inverse .navbar-nav>li>a {
		font-weight: 100;
		padding-top: 15px;
    	padding-bottom: 15px;
	}
	.search-form {
		visibility: visible;
		top: -355px;
		opacity: 1;
		width: calc(100% - 30px);
		left: 15px;
	}
	.header-nav .search {
		display: none;
	}
	.banner-text {
		position: absolute;
    	left: calc(50% - 325px);
		top: 30%;
		transition: 400ms ease-out;
	}
	.banner-text h2 {
		font-size: 20px;
	}
	.webpart-descr {
		text-align: justify;
	}
	.tab-pane .webpart-descr {
	    text-align: left;
	}
	.review-img {
		width: 35px;
	}
	footer {
		position: relative;
    	top: 220px;
	}
	.footer-nav li {
		float: left;
	}
	.products .overview .product-item {
		padding-right: 15px;
	}
	.products .overview .product-item:nth-child(2) {
	    padding-left: 15px;
	}
	.products .overview .product-item:nth-child(1) {
	    padding-bottom: 70px;
	}
	.radio-area {
	    width: 100%;
    	text-align: left;
    	max-width: 240px;
	}
	.radio-inline+.radio-inline {
		margin-left: 0;
	}
	select.form-control {
	    max-width: 240px;
	    margin: auto;
	}
	.table-fixed-right {
		/*width: 25%;
		min-width: 140px;*/ 
		/*width: 140px;
		overflow-x: hidden;*/
	}
	.table-fixed-right .table>thead>tr>th {
	    /*font-size: 10px;*/
	    /*line-height: 18px;*/
    	/*height: 29px;*/
	}
	/*.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		padding: 4px;
	}*/
	/*.table-scroll {
	    width: calc(100% - 139px);
	}*/
	.notes ul {
		padding-left: 20px;
	}
	/*.notes .feature-name {
	    padding-left: 15px;
	}*/
	.icon {
	    width: 22px;
	    height: 22px;
	    background-size: 100%;
	    background-repeat: no-repeat;
	}
	.blog-post .overview .col-xs-12.blog-image {
		margin-left: 0;
		margin-right: 0;
	}

	/*body.home footer {
		top: 260px;
    	height: 355px;
	}*/
	.home .blog-list .swiper-container {
	    min-height: 410px;
	}
	.home .blog-list .swiper-container-horizontal > .swiper-pagination {
		bottom: 0;
	}
	.home .overview .swiper-container {
	    min-height: 650px;
	    max-height: auto; 
	}
	.home .overview .swiper-slide div:nth-child(2) {
	    max-height: 160px;
	}
	.modal .price.total-price {
		text-align: center;
	}
}
@media (max-width: 590px) {
	.home .overview .swiper-slide div:nth-child(2) {
	    max-height: 220px;
	}
}
@media (max-width: 460px) {
	.col-xxs-12 {
		width: 100%;
	}
	.col-xxs-offset-0 {
		margin-left: 0;
	}
	.banner-text {
	    width: 300px;
	    left: calc(50% - 150px);
	}
	.product-block div {
		width: 120px;
		height: 120px;
		padding-top: 15px;
	}
	.product-block div:hover {
		border-width: 7px;
	}
	.products-list .product-img {
		width: 50%;
	}
	.product-title {
	    margin-top: 15px;
	    font-size: 14px;
	}
	.footer-nav {
		width: 277px;
	}
	.footer-nav li a {
		font-size: 13px;
	}
	.products .short-descr div:first-child {
	    max-width: 90px;
	    margin: auto;
	    float: none;
	    padding-right: 0;
	}
	.products .short-descr .webpart-img {
	    width: 100%;
	}
	.products .overview .product-item {
	    float: none;
	    margin: auto;
	}
	.single-product .short-descr div:first-child {
	    max-width: 100%;
	    text-align: center;
	    padding: 0px 30px 25px 30px;
	}
	.single-product .short-descr div:nth-child(2) {
	    padding-left: 0px;
	    padding-right: 0px;
	}
	.single-product .short-descr div:last-child {
	    padding: 0px 0px 0px 0px;
	    text-align: center;
	}
	.products .short-descr div:last-child {
		float: none;
	}
	.products .tab-content .row {
		padding-bottom: 15px;
	}
	.products .overview .product-item:nth-child(1) {
	    padding-bottom: 55px;
	}
	.home .overview .swiper-container {
	    min-height: 530px;
	}
	.pagination>li>a, .pagination>li>span {
		margin: 0;
	}
	.pagination .prev a,
	.pagination .next a {
		padding-left: 0;
		padding-right: 0;
	}
}
@media (max-height: 505px) and (max-width: 767px) {
	.header-nav ul.navbar-right {
    	height: 330px;
    }
}
@media (max-width: 767px) and (max-height: 413px) {
	.header-nav ul.navbar-right {
	    height: 290px;
	}
}
@media (max-width: 767px) and (max-height: 374px) {
	.header-nav ul.navbar-right {
	    height: 240px;
	}
}
@media (max-width: 430px) {
	/*.modal .btn-red {*/
	.modal-footer > div:nth-child(2) {
		margin-bottom: 60px;
	}
	/*.modal .btn-black {*/
	.modal-footer > div:nth-child(1) {
		position: absolute;
    	bottom: 25px;;
	}

}
@media (max-width: 375px) {
	.home .overview .swiper-container {
	    min-height: 470px;
	}
	.home .overview .swiper-slide div:nth-child(2) {
	    max-height: 210px;
	}
	.modal .webpart-descr {
		font-size: 15px;
		text-align: left;
	}
	.modal-price {
		text-align: right;
		padding-right: 5px;
	}
	.modal .price {
		text-align: right;
	}
	.modal-prop {
		padding-left: 5px;
	}
}

@media (min-width: 992px) and (-ms-high-contrast: none), (min-width: 992px) and (-ms-high-contrast: active) {
   .home.ie10up .blog-block {
   		margin-left: 40px;
		margin-right: 40px;   
	}
	.blog.ie10up .blog-block {
   		margin-left: 30px;
		margin-right: 30px;   
	}
}
@media (min-width: 767px) and (max-width: 992px) and (-ms-high-contrast: none), (min-width: 767px) and (max-width: 992px) and (-ms-high-contrast: active) {
    .home.ie10up .blog-block {
   		margin-left: auto;
		margin-right: auto;   
	}
	.blog.ie10up .blog-block {
   		margin-left: auto;
		margin-right: auto;
		min-width: auto;   
	}
}